.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    font-family: arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 2px black solid;
    padding: 5px 10px;
    margin: 10px;
    width: 150px;
    text-align: center;
}

.card:hover {
    background: #dddddd;
    cursor: pointer;
}